<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Categorias</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>Categorias</h1>
  </header>
  <main class="container">
    <ul>        
        <li>
            <a href="/categoria/criar">Adicionar Categorias</a>
        </li>        
    </ul>

    <form action="/categoria/pesquisar" method="GET">
      <label for="pesquisa">Pesquisar</label>
      <input type="search" id="pesquisa" name="conteudo">
      <button type="submit">Buscar</button>
    </form>

    <div>
      <h2>Lista de Categorias</h2>

      {{#if categorias.length}}
        <table border="1">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Data de Criação</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {{#each categorias}}
              <tr>
                <td>{{this.id}}</td>
                <td>{{this.nome}}</td>
                <td>{{this.criadoEm}}</td>
                <td>
                  <a href="/categoria/editar/{{this.id}}">Editar</a> |
                  <a href="/categoria/deletar/{{this.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <span>Nenhum registro encontrado.</span>
      {{/if}}
    </div>
  </main>
</body>
</html>
