<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">   
    <li style="margin-right: 20px;">
        <a href="/">
          <img src="https://via.placeholder.com/100x40" alt="Logo" style="height: 40px; width: auto;">
        </a>
      </li> 
    <h1>Perfil do Usuário</h1>
    <form action="/usuarios/atualizar/{{id}}" method="POST">      
      <input type="text" name="nome" value="{{nome}}" placeholder="Nome" required />
      <input type="email" name="email" value="{{email}}" placeholder="Email" required />
      <input type="text" name="login" value="{{login}}" placeholder="Login" required />
      <input type="password" name="senha" placeholder="Senha" />
      <input type="text" name="endereco" value="{{endereco}}" placeholder="Endereço" />
      <button type="submit">Salvar</button>
    </form>
    <form action="/usuarios/deletar/{{id}}" method="POST" style="margin-top: 20px;">
      <button type="submit" style="background-color: #d9534f;">Excluir Conta</button>
    </form>
    <form action="/autenticacao/logout" method="POST" style="margin-top: 20px;">
      <button type="submit" style="background-color: #f0ad4e;">Logout</button>
    </form>
  </div>
</body>
</html>
